<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dan Q's Things</title>
    <%= stylesheet_link_tag 'things' %>
    <%= javascript_include_tag 'things' %>
  </head>
  <body class="h-feed">
    <header>
      <h1 class="p-name">
        <a href="https://danq.me/" class="h-card p-author u-url">Dan Q</a>'s Things
      </h1>
    </header>
    <main>
      <ul>
        <% data.things.each do |thing| %>
          <li class="h-entry">
            <a href="<%= thing.url || thing.about %>" class="u-url">
              <h2 class="p-name"><%= thing.name %></h2>
              <p class="e-content">
                <%= thing.description %>
              </p>
              <% if thing.status %>
                <p class="p-category"><%= thing.status %></p>
              <% end %>
            </a>
          </li>
        <% end %>
      </ul>
    </main>
  </body>
</html>
